<header>
  <app-total-recount
    [incomeAmount]="incomeAmountParent"
    [expensesAmount]="expensesAmountParent"
  ></app-total-recount>
</header>
<body>
  <div>
    <app-new-operation
      (incomeListEmiter)="incomeListParent = $event"
      (expensesListEmiter)="expensesListParent = $event"
      (incomeAmountEmiter)="incomeAmountParent = $event"
      (expensesAmountEmiter)="expensesAmountParent = $event"
    ></app-new-operation>
  </div>
  <div id="tables">
    <app-income [incomeList]="incomeListParent"></app-income>
    <app-expenses [expensesList]="expensesListParent"></app-expenses>
  </div>
</body>
