

body{
    display: flex;
    height: 65vh;
    width: auto;
    background: url("../assets/img/bodyBackground.webp");
    
}
header{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../assets/img/headerBackground.webp');
    background-position: center;
    background-size: cover;
    
}

#tables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 423px) {
    #tables{
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }
}

